
importFrom(jsonlite, fromJSON, toJSON)

## exports to ensure that the methods for class "Interface" use no non-exported object
export(asRObject, asServerObject) # these would be exported anyway
export(rmInterface, evaluatorNumber) # these might not.

export(ProxyClassObject, vector_R)

export(objectAsJSON)
export(valueFromServer)
export(nameQuote, fillNames)
export(objectDictionary)
export(getInterface)
export(serverAddToPath, serverImport, serverTask)
export(evaluatorAction) # so methods can be defined
export(evaluatorActions) # really just for debugging

export(setProxyClass)

export(Interface, ServerClassDef)
exportClass(Interface, ServerClassDef)
exportClass(ProxyClassObject, vector_R, ProxyFunction)

export(typeToJSON)
export(noScalar)

export(packageSetup)

export(proxyName)

export(fixHelpTopic)
export(from_Server)
exportClass(from_Server)
exportClass(Unconvertible)
